.cadastro {
    background-color: #650E82;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.cadastro-div {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 32px;
    align-items: center;
    height: 80vh;
    width: 70vw;
    box-shadow: 8px 8px 5px 1px rgb(8, 10, 12, 0.4);
    padding: 20px;
}

.cadastro-content {
    text-align: center;
    margin: 20px 10px;
    flex: 1;
}

.cadastro-img {
    text-align: center;
}

.cadastro-img h1 {
    margin-bottom: 20px;
}

.cadastro-img img {
    width: 350px;
}

.cadastro-form-campos input {
    font-size: 16px;
    padding: 9px;
    border-radius: 8px;
    border-color: #650E82;
    border-width: 3px;
    box-shadow: 2.5px 2.5px 2px .5px rgb(8, 10, 12, 0.4);
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.cadastro-form-campos input:focus {
    outline: none;
}

.cadastro-form-campos select {
    font-size: 16px;
    padding: 9px;
    border-radius: 8px;
    border-color: #650E82;
    border-width: 3px;
    box-shadow: 2.5px 2.5px 2px .5px rgb(8, 10, 12, 0.3);
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.cadastro-form-campos select:focus {
    outline: none;
}

.cadastro-img button {
    background-color: #650E82;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2.5px 2.5px 2px .5px rgb(8, 10, 12, 0.4);
    transition: all 0.1s ease-in-out;
    width: 50%;
    margin: 20px 0 10px 0;
}

.cadastro-img button:hover {
    background-color: #7c1c9c;
}

.cadastro-img button:active {
    transform: translateY(2px);
}

.dupla {
    display: flex;
    gap: 20px;
}

.dupla .cadastro-form-campos {
    flex: 1;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #7c1c9c;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: fixed;
    right: 0;
    border-radius: 4px;
    margin-top: 50px;
    margin-right: 50px;
    border-left: 10px solid #650E82;
}

.card_erro #mensagem_erro {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.cadastro-form-campos span {
    color: brown;
    font-weight: 700;
}