.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;
    padding:0 50px;
    min-height: 12vh;
    background-color: #62187B;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    box-shadow: 0 4px 30px rgb(8, 10, 12);
}

.header_navbar {
    display: flex;
}

.header_navbar_list {
    margin-left: 50px;
}