/*!HEADER*/
.menu-text {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

/*!HERO*/
.hero-text {
    color: #fff;
}

.hero-text h1 {
    font-weight: 400;
}

.hero-text h2 {
    font-weight: 100;
}

/*!SECTION1*/
.section1-text {
    color: #fff;
}

.section1-text h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}

.section1-text p {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
}

/*!SECTION2*/
.section2-text,
.section3-text,
.login-text,
.cadastro-text {
    color: #650E82;
}

.section2-text h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section2-text p {
    font-size: 18px;
}

/*!SECTION3*/
.section3-text h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section3-text p {
    font-size: 18px;
}

